@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
* {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  font-size: 1em;
  color: #000000;
  padding: 1em;
  background-color: #DDE1E6;
  height: 7vh;
  box-sizing: border-box;
}
header .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  font-size: 1.5em;
  color: inherit;
}
header .logo-1 {
  font-weight: bolder;
}
header .logo-2 {
  font-weight: 100;
  color: #998FC7;
}
header .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 2em;
  align-items: center;
}
header .nav-item {
  font-size: inherit;
  color: gray;
}
header .nav-item:hover {
  cursor: pointer;
  font-size: inherit;
  color: #000000;
}
header .nav .deconnexion {
  font-size: inherit;
  color: #998FC7;
}
header .nav .deconnexion:hover {
  cursor: pointer;
  font-size: inherit;
  color: #7a6db6;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  font-size: 1em;
  color: #000000;
  margin-top: 2em;
  padding: 1em;
  background-color: #DDE1E6;
  width: 100vw;
  box-sizing: border-box;
}
footer .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 0;
  align-items: center;
  font-size: 1.5em;
  color: inherit;
}
footer .logo-1 {
  font-weight: bolder;
}
footer .logo-2 {
  font-weight: 100;
  color: #998FC7;
}
footer p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.entete {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.entete h1 {
  font-size: 1.3rem;
}
.entete p {
  background: none;
  border: none;
  color: #998FC7;
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;
}
.entete p:hover {
  color: #7a6db6;
}

.filtres {
  background-color: #998FC7;
  margin: 0 0 2em 0;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5em;
  align-items: stretch;
}
.filtres > input {
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: center;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.8em;
}
.filtres > button {
  cursor: pointer;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border: 2px solid #998FC7;
  background-color: white;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  border-radius: 5px;
  transition: border-radius 0.3s;
  flex-basis: auto;
  flex-grow: 0;
}
.filtres > button:hover {
  background-color: #e6e6e6;
  border: 2px solid #7a6db6;
  transition: border-radius 0.3s;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  gap: 0;
  align-items: stretch;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.soiree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1rem;
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 3;
  border: 1px solid #DDE1E6;
  padding: 1em 1em 0.5em 1em;
}
.soiree-container {
  display: flex;
  gap: 1em;
}
.soiree-infos {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.7em;
}
.soiree-infos-date, .soiree-infos-lieu {
  color: #697077;
  font-size: 0.9em;
  margin: 0em;
}
.soiree-infos-titre {
  font-size: 1.7em;
  line-height: 1em;
  font-weight: bold;
  margin: 0em;
}
.soiree-image {
  width: 30%;
  height: auto;
  min-width: 5em;
}
.soiree-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  gap: space-between;
  align-items: stretch;
  gap: 1em;
}
.soiree-buttons-1 {
  cursor: pointer;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border: 2px solid #998FC7;
  background-color: white;
  color: #998FC7;
  font-size: 0.9em;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.5em 0em 0.5em 0em;
  border-radius: 0px;
  transition: border-radius 0.3s;
}
.soiree-buttons-1:hover {
  background-color: #e6e6e6;
  border: 2px solid #7a6db6;
  transition: border-radius 0.3s;
  border-radius: 5px;
}
.soiree-buttons-2 {
  cursor: pointer;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border: 2px solid #998FC7;
  background-color: #998FC7;
  color: white;
  font-size: 0.9em;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.5em 0em 0.5em 0em;
  border-radius: 0px;
  transition: border-radius 0.3s;
}
.soiree-buttons-2:hover {
  background-color: #7a6db6;
  border: 2px solid #7a6db6;
  transition: border-radius 0.3s;
  border-radius: 5px;
}

@media screen and (min-width: 640px) {
  .entete {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 2em;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .entete h1 {
    font-size: 2.5rem;
  }
  .filtres {
    margin: 0 0 3em 0;
    padding: 1.5em 5vw 1.5em 5vw;
  }
  .filtres > input {
    font-size: 1em;
  }
  .filtres > button {
    font-size: 1em;
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    align-items: stretch;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .soiree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1rem;
    flex-basis: 20em;
    flex-shrink: 0;
    flex-grow: 3;
    border: 1px solid #DDE1E6;
    padding: 1em 1em 0.5em 1em;
  }
  .soiree-container {
    display: flex;
    gap: 1em;
  }
  .soiree-infos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.7em;
  }
  .soiree-infos-date, .soiree-infos-lieu {
    color: #697077;
    font-size: 0.9em;
    margin: 0em;
  }
  .soiree-infos-titre {
    font-size: 1.7em;
    line-height: 1em;
    font-weight: bold;
    margin: 0em;
  }
  .soiree-image {
    width: 30%;
    height: auto;
    min-width: 5em;
  }
  .soiree-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    gap: space-between;
    align-items: stretch;
    gap: 1em;
  }
  .soiree-buttons-1 {
    cursor: pointer;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-weight: 400;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border: 2px solid #998FC7;
    background-color: white;
    color: #998FC7;
    font-size: 0.9em;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0em 0.5em 0em;
    border-radius: 0px;
    transition: border-radius 0.3s;
  }
  .soiree-buttons-1:hover {
    background-color: #e6e6e6;
    border: 2px solid #7a6db6;
    transition: border-radius 0.3s;
    border-radius: 5px;
  }
  .soiree-buttons-2 {
    cursor: pointer;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-weight: 400;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border: 2px solid #998FC7;
    background-color: #998FC7;
    color: white;
    font-size: 0.9em;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0em 0.5em 0em;
    border-radius: 0px;
    transition: border-radius 0.3s;
  }
  .soiree-buttons-2:hover {
    background-color: #7a6db6;
    border: 2px solid #7a6db6;
    transition: border-radius 0.3s;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=prog.css.map */
