@import "var";
@import "fonts";
@import "layout";
@import "buttons";
@import "header";
@import "footer";

$fontSizeFiltres : .8em;

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(166deg, #f9f5ff, #d4c2fc, #998fc7, #14248a);
    background-size: cover;
    background-repeat: no-repeat;
}



.container {
    display: flex;
}

.element {
    flex: 1;
    border: 1px solid black;
}

img {
    width: 100%;
    height: 100%;
}

.detail {
    @include flex(column, nowrap, 2em, center, stretch);
    @include width(70vw);
    border: 1px solid $lightGrey;
    padding: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: white;
    p {
        text-align: justify;
    }

    h1 {
        margin-bottom: 1em;
    }
}

.retour {
  @include flex(column, nowrap, 2em, center, stretch);
  @include width(70vw);
}

.retour-bouton {
  width: 20vw;
  
}

.soiree-buttons{
    display: flex;
}

.soiree-buttons-2{
    @include buttonStyle(white, $purple, black, auto, $fontSizeFiltres, 0, 5px);
    
}

@media screen and (min-width: 640px) {
    form {
        @include width(40vw);
        padding: 4em;
    }
}
